<div id="<%= dom_id user %>">
<p>
<strong>Email:</strong>
<%= user.email %>
</p>

<p>
<strong>Postal code:</strong>
<%= user.post_code %>
</p>

<p>
<strong>Address:</strong>
<%= user.address %>
</p>

<p>
<strong>Biography:</strong>
<%= user.bio %>
</p>
</div>
