<h1><%= t('headers.index', model: User.model_name.human) %></h1>

<div id="users" class="index-items">
  <% @users.each do |user| %>
    <div class="index-item">
      <%= render user %>
      <p>
        <%= link_to t('helpers.submit.show',  model: User.model_name.human), user %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @users %>

<%= link_to t('devise.shared.links.back'), books_path %>
