<p style="color: green"><%= notice %></p>
<h1><%= t('headers.profile') %></h1>

<div class="show-item">
  <%= render @user %>
</div>

<nav class="page-nav">
  <% if user_signed_in? && @user == current_user %>
    <%= link_to t('helpers.submit.edit', model: User.model_name.human), edit_user_registration_path %> |
  <% end %>
  <%= link_to t('devise.shared.links.back'), :back %>
</nav>
