<p style="color: green"><%= notice %></p>

<h1><%= t('views.common.title_index', name: i18n_pluralize(Book.model_name.human)) %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('views.common.show', name: Book.model_name.human.downcase), book %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @books %>

<nav class="page-nav">
    <%= link_to t('views.common.new', name: Book.model_name.human.downcase), new_book_path %>
</nav>

<header>
  <div>
    <% if user_signed_in? %>
#      <%= link_to User.human_attribute_name(:profile), profile_path %>
      <%= link_to User.human_attribute_name(:profile), user_path(current_user) %>
    <% end %>
  </div>

  <div class="user-edit">
    <% if user_signed_in? %>
      <%= link_to t('views.common.edit', name: User.model_name.human), edit_user_registration_path %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
      <%= link_to t('views.common.title_index', name: User.model_name.human), users_path %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
      <%= button_to t('devise.sessions.signed_out'), destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
 </header>
